UMOJAFLOWOS_FLUVIO_ENABLED=false
UMOJAFLOWOS_FLUVIO_CLUSTER_ENDPOINT=
UMOJAFLOWOS_FLUVIO_TLS_CA_SECRET_REFERENCE=
UMOJAFLOWOS_FLUVIO_CLIENT_CERT_SECRET_REFERENCE=
UMOJAFLOWOS_FLUVIO_CLIENT_KEY_SECRET_REFERENCE=
UMOJAFLOWOS_FLUVIO_PAYMENT_TOPIC=payment.order.validated.v1
UMOJAFLOWOS_FLUVIO_COMPLIANCE_TOPIC=compliance.policy.decision.v1
