UMOJAFLOWOS_LAKEHOUSE_ENABLED=false
UMOJAFLOWOS_LAKEHOUSE_OBJECT_STORE_URI=
UMOJAFLOWOS_LAKEHOUSE_CATALOG_URI=
UMOJAFLOWOS_LAKEHOUSE_CATALOG_NAMESPACE=umojaflowos
UMOJAFLOWOS_LAKEHOUSE_BRONZE_PREFIX=bronze
UMOJAFLOWOS_LAKEHOUSE_SILVER_PREFIX=silver
UMOJAFLOWOS_LAKEHOUSE_GOLD_PREFIX=gold
UMOJAFLOWOS_LAKEHOUSE_ENCRYPTION_KEY_REFERENCE=
UMOJAFLOWOS_LAKEHOUSE_CREDENTIAL_SECRET_REFERENCE=
UMOJAFLOWOS_LAKEHOUSE_RETENTION_POLICY_REFERENCE=
