UMOJAFLOWOS_OPENAPPSEC_ENABLED=false
UMOJAFLOWOS_OPENAPPSEC_MANAGEMENT_ENDPOINT=
UMOJAFLOWOS_OPENAPPSEC_AGENT_TOKEN_SECRET_REFERENCE=
UMOJAFLOWOS_OPENAPPSEC_POLICY_BUNDLE_REFERENCE=
UMOJAFLOWOS_OPENAPPSEC_PROTECTED_INGRESS=apisix
