UMOJAFLOWOS_SEDONA_ENABLED=false
UMOJAFLOWOS_SEDONA_SPARK_MASTER=
UMOJAFLOWOS_SEDONA_WAREHOUSE_URI=
UMOJAFLOWOS_SEDONA_CATALOG_URI=
UMOJAFLOWOS_SEDONA_CREDENTIAL_SECRET_REFERENCE=
UMOJAFLOWOS_SEDONA_MINIMUM_COHORT_SIZE=10
